/** @format */

* {
  background-color: #90aacb;
  color: #fef1e6;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

main section div {
  padding: 20px;
  align-items: center;
  width: 200px;
  border: 1px solid #f9d5a7;
}

h2 {
  text-align: center;
  position: relative;
  margin-top: -30px;
}

.box {
  background-image: linear-gradient(
    90deg,
    rgba(249, 213, 167, 1) 35%,
    rgba(255, 176, 133, 1) 100%
  );
  width: auto;
}


footer {
    text-align: center;
    padding: 20px;
}


@media screen and (max-width: 992) {
  main section div {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  div {
    width: 100%;
  }
}
